body {
    background: #203f3f;
    color: #C0C0C0;
    font-family: "Consolas", monospace;
    font-size: 10pt;
}

div#menu {
    display: table-cell;
    position: fixed;
    padding: 4px;
    width: 480px;
    right: 5px;
    top: 2px;
    border: solid rgba(174, 63, 0, 1) 1px;
    background: rgba(174, 63, 0, 0.6);
    box-shadow: rgba(30, 10, 0, 0.3) 2px 2px;
    border-radius: 3px;
    vertical-align: middle;
}

div#content {
}

.hidden {
    visibility: hidden;
}

.log {
}

.highlight {
    color: navy;
    background: lemonchiffon;
}

.server-error {
    font-size: 12pt;
    color: black;
    background: darkorange;
    padding: 6px;
    border-radius: 4px;
}

.info {
    color: beige;
}

.warning {
    color: gold;
}

.debug {
    color: aquamarine;
}

.error {
    color: orangered;
}

.wtf {
    color: darkred;
}

.info {
    color: whitesmoke;
}

.verbose {
    color: gray;
}

.tag {
    display: inline-block;
    text-align: right;
    width: 10em;
    overflow-x: hidden;
    font-weight: bold;
}

.pid {
    display: inline-block;
    text-align: right;
    width: 3em;
    overflow-x: hidden;
}

.filter {
    position: fixed;
    margin: auto;
    left: 25%;
    top: 100px;
    width: 50%;
    height: 400px;
    background: slategray;
    border-radius: 4px;
    box-shadow: rgb(30, 30, 30) 4px 4px;
    z-index: 5;
    padding: 10px;
    color: black;
    display: none;
}

input[type=button] {
    width: 100px;
    height: 30px;
    border-radius: 2px;
    border: none;
    background: cornsilk;
}

input[type=button]:active {
    background: bisque;
}

textarea {
    width: 95%;
    height: 160px;
    margin: auto;
}
